#Excluir entorno virtual
/instalador-env/
/src/docs/_static
/src/docs/_templates
/src/docs/aboutDialog.rst
/src/docs/createsavefile.rst
/src/docs/findDevices.rst
/src/docs/index.rst
/src/docs/FLIMGraphics.rst
/src/docs/generalsettings.rst
/src/docs/main.rst
/src/docs/make.bat
/src/docs/Makefile
/src/docs/modules.rst
/src/docs/StartStopHist.rst
/src/docs/_build/doctrees
/src/docs/_build/latex/image.png
/src/docs/_build/latex/latexmkjarc
/src/docs/_build/latex/latexmkrc
/src/docs/_build/latex/LatinRules.xdy
/src/docs/_build/latex/LICRcyr2utf8.xdy
/src/docs/_build/latex/LICRlatin2utf8.xdy
/src/docs/_build/latex/make.bat
/src/docs/_build/latex/Makefile
/src/docs/_build/latex/python.ist
/src/docs/_build/latex/sphinx.sty
/src/docs/_build/latex/sphinxhighlight.sty
/src/docs/_build/latex/sphinxhowto.cls
/src/docs/_build/latex/sphinxlatexadmonitions.sty
/src/docs/_build/latex/sphinxlatexcontainers.sty
/src/docs/_build/latex/sphinxlatexgraphics.sty
/src/docs/_build/latex/sphinxlatexindbibtoc.sty
/src/docs/_build/latex/sphinxlatexlists.sty
/src/docs/_build/latex/sphinxlatexliterals.sty
/src/docs/_build/latex/sphinxlatexnumfig.sty
/src/docs/_build/latex/sphinxlatexobjects.sty
/src/docs/_build/latex/sphinxlatexshadowbox.sty
/src/docs/_build/latex/sphinxlatexstyleheadings.sty
/src/docs/_build/latex/sphinxlatexstylepage.sty
/src/docs/_build/latex/sphinxlatexstyletext.sty
/src/docs/_build/latex/sphinxlatextables.sty
/src/docs/_build/latex/sphinxmanual.cls
/src/docs/_build/latex/sphinxmessages.sty
/src/docs/_build/latex/sphinxoptionsgeometry.sty
/src/docs/_build/latex/sphinxoptionshyperref.sty
/src/docs/_build/latex/sphinxpackageboxes.sty
/src/docs/_build/latex/sphinxpackagecyrillic.sty
/src/docs/_build/latex/sphinxpackagefootnote.sty
/src/docs/_build/latex/tempicosoftware.aux
/src/docs/_build/latex/tempicosoftware.fdb_latexmk
/src/docs/_build/latex/tempicosoftware.fls
/src/docs/_build/latex/tempicosoftware.idx
/src/docs/_build/latex/tempicosoftware.ilg
/src/docs/_build/latex/tempicosoftware.ind
/src/docs/_build/latex/tempicosoftware.out
/src/docs/_build/latex/tempicosoftware.tex
/src/docs/_build/latex/tempicosoftware.toc
/src/ubuntuInstaller/